/* Add your css here */
$color-g:grey;
$color-w: white;
$color-b:black;
$color-wl:#e1e1dd;
$text-font-style: "Tahoma";
$color_gr:green;
$lgscreen:752px; 

   %btn{
    background-color:$color_gr;
    padding: 10px;
    width: 370px;
    margin: 1em;
    color: $color-w;
    text-align: center;
    border-radius: 8px;
   }
   @mixin lgscreen {
    @media (max-width : 752px) {
         @content ;
    }
}
*{
     box-sizing: border-box;
     font-family: $text-font-style;
}
body{
    padding: 7px;
    background-color: gray;
}
#nav_logo{
    width: 30px;
    height: 30px;
}
#nav-link{
    color: #000;

}
.h-container{
    padding-bottom: 40px;
    background: white;
    width: 100%;
   height: auto;
}
.h-conleft{
    float:left;
    top: 0px;
}
.h-conright{
    float: right;
    top: 0px;
  ul{ 
      display:flex;
     flex-direction:row;
      list-style: none;
      li{
          margin: 3px;
         a{
             text-decoration: none;
             color:black;
         }
      }
      @include lgscreen(){
            flex-direction: column;
      }
  }
}
// for bg
.banner{
    margin:20px;
    margin-right:5px;
    .log{
        color:$color-wl;

    }
    .bh1{
        color: $color-w;

    }
}  
.widget{
   .order-style{
       float: right;
      box-shadow: 2px 2px 2px grey;
      width:40%;
      border: 1px solid gray;
      height: 450px;
      padding: 30px;
      margin: 20px;
      @include lgscreen(){
        width: 100%;
  }
   }

      #ad-zomaland{
            float: left;
            width: 54%;
            height:400px;
            margin-top: 60px;
             margin-right: 20px;
             margin-left: 20px;
             @include lgscreen()
             {
                 display: none;
             }
        }

.btn_green{
    background-color:$color_gr;
    border-radius: 6px;

}
.btn_green:hover{
    background-color:#06b30e;
}
}
//  collection
.collection-main{
    width: 100%;

.collections{
    margin-top: 80px;
    grid-area: collection;
    display: block;
    overflow: hidden;
    height: auto;

    .collection-top{
        margin: 15px 0px;
        color:grey;
    }

.collection-list{
    
    display: flex;
    flex-direction: row;
    grid-area: collection;
    flex-wrap: wrap;
    padding: 0px;
    }
    .card{
        margin-right: 15px;
        @include lgscreen(){
            width: 48%;
            margin: 0 0 5px 5px;
            text-align: center;
        }
    }
    .collection-bottom{
        grid-area: collection;
        width: 98.5%;
       padding: 15px - 5;
        height: auto;
        text-align: center;
        background-color:whitesmoke;
        color: rgb(255, 61, 61) ;
        &:hover{
            background-color: $color-wl;

        }
        
    }
}
}

//  quick search
    .categories{
        width: 100%;
       padding: 20px;
        .quick-searchlist{
            background: $color-wl;

            ul{ 
              padding: 50px;
            border:none;
            }
        }
         img{
             width: 5em;  
             &:hover
             {
                 opacity: 0.2;
             }

         }
    
        #cat-subtitle{
            color:gray;
         }
          ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 25px;
          }
    }
   
//    popular places in mumbai
.localities{
    padding: 20px;
    #loc-subtitle{
     color:grey;
     text-align: left;

         }
 .locality-div{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        background-color:$color-wl;
        justify-content: space-between;

    .locality-list{
        li{
            list-style: none;
            padding: 7px;
            a{
                text-decoration: none;
                color:black;
            } 
            #loc-span{
                color:gray;
            }
        }
}

}
}
footer{
    background-color:#323232;
    margin: 15px;
    #logo_bottom{
               width: 100px;
               height: 200px;
               right:300px;
               margin-left: 20px;
              }
 #footer_upsearch{
                 float:right;
                 background-color:$color-b;
                 color: $color-wl;
                 margin: 2em;
                width: 200px;
                padding: 10px;
                border-radius: 7px;
                      }
.seperator{
    width: 97%;
    height: 0.5px;
  background-color:$color-g;    
  margin: 15px;
}
     
.footer-wrapper{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     .footer-wrapper-head{  
        
         h4{
           
        color:$color-wl;

         }
   
        }

     ul{
         list-style-type: none;
         li{
             padding: 5px;
             a{ 
                 padding: 45px;
                color:$color-wl;
                 text-decoration:none;
             }
         }
     }
}   
.footer_countries{
     width: 100%;
     display: flex;
     flex-direction:row;
     justify-content: space-between;
     flex-wrap:wrap;
     .footer-c-head{
        width: 100%;
        h4{
            color:$color-wl;

        }
    }
     ul{
         list-style-type: none;
         li{
             padding: 5px;
             a{
                 color:$color-wl;
                 text-decoration:none;
             }
         }
     } 
     
     @include lgscreen(){
        flex-direction: row;
   }

}  

.footer_bottom{
    width: 100%;
     a{
         display:inline-block;
        padding: 4px;
         color:$color-wl;
         height:auto;
         text-decoration: none;
         }
#f-social{
    float:right;  
    width:5.2em;
    transform: rotate(0deg);
    @include lgscreen(){
        transform: rotate(90deg);
    
   }  
     }

}              
}