/* Add your css here */
$color-g:grey;
$color-w: white;
$color-b:black;
$color-wl:#e1e1dd;
$color-r: rgb(77%,12%,23%);
$text-font-style: "Tahoma";
$color_gr:green;
$lgscreen:752px; 
$smscreen:437px;

   %btn{
    background-color:$color_gr;
    padding: 10px;
    width: 370px;
    margin: 1em;
    color: $color-w;
    text-align: center;
    border-radius: 8px;
   }
   @mixin lgscreen {
    @media (max-width : 752px) {
         @content ;
    }
}
*{
     box-sizing: border-box;
     font-family: $text-font-style;
}
body{
    margin:20px;
}
#nav_logo{
    width: 30px;
    height: 30px;
}
#nav-link{
    color: #000;

}
.h-container{
    padding-bottom: 40px;
    background: white;
    width: 100%;
   height: auto;
}
.h-conleft{
    float:left;
    top: 0px;
}
.h-conright{
    float: right;
    top: 0px;
  ul{ 
      display:flex;
     flex-direction:row;
      list-style: none;
      li{
          margin: 15px;
         a{
             text-decoration: none;
             color:black;
         }
      }
      @include lgscreen(){
            flex-direction: column;
      }
  }
}
// for bg
.banner{
    margin:20px;
    margin-right:5px;
    .log{
        color:$color-w;

    }
    .bh1{
        color: $color-w;

    }
}  
.widget{
      #ad-zomaland{
            float: left;
            width: 55%;
            height: auto;
            margin-top: 60px;
             margin-right: 20px;
             margin-left: 20px;
             @include lgscreen()
             {
                 display: none;
             }
        }
.widget_form
 {
    background-color:#dee3de;
        padding: 20px;
        width: 410px;
        height: 450px;
        margin-top: 30px;
        margin-right:100px;
        float: right;
        font-size:15px;
   .search-del{
    //    width: 250px;
       height: 60px;
       border-radius: 7px;
       position: relative;
        box-shadow: 2px 2px 3px gray;
        margin-top: 10px;
   }
 }

.btn_green{
    background-color:$color_gr;
    padding: 10px;
    width: 370px;
    margin: 1em;
    color: $color-w;
    text-align: center;
    border-radius: 8px;

}
.btn_green:hover{
    background-color:#06b30e;
}
.btn_detect{
    background-color:$color_gr;
    padding: 10px;
    padding-left: 4em;
    padding-right: 4em;
    margin: 1em;
    color: $color-w;
    text-align: center;
    border-radius: 8px;
}

}
//  collection
.collections{
    grid-area: collection;
    display: block;
    overflow: hidden;
    height: auto;

    .collection-top{
        margin: 15px 0px;
    }

.collection-list{
    
    display: flex;
    flex-direction: row;
    grid-area: collection;
    flex-wrap: wrap;
    padding: 0px;
    }
    .card{
        margin-right: 15px;
        @include lgscreen(){
            width: 48%;
            margin: 0 0 5px 5px;
            text-align: center;
        }
    }
    .collection-bottom{
        grid-area: collection;
        width: 98.5%;
       padding: 15px - 5;
        height: auto;
        text-align: center;
        background-color: white;
        color: rgb(255, 61, 61) ;
        
    }
}
//  quick search
    .categories{
        width: 100%;
        background: $color-wl;
        // margin-top:130px;
        margin: 15px;   
        #cat-subtitle{
            color:gray;
         }
          ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            list-style-type: none;
            padding: 25px;
          }
    }
   
//    popular places in mumbai
.localities{
    padding: 20px;

    #loc-title{

            }
    #loc-subtitle{
     color:grey;
     text-align: left;

         }
 .locality-div{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        background-color:$color-wl;
        justify-content: space-between;

    .locality-list{
        li{
            list-style: none;
            padding: 7px;
            a{
                text-decoration: none;
                color:black;
            } 
            #loc-span{
                color:gray;
            }
        }
}

}
}
footer{
    background-color:#323232;
    margin: 15px;
    #logo_bottom{
               width: 100px;
               height: 200px;
               right:300px;
               margin-left: 20px;
              }
 #footer_upsearch{
                 float:right;
                 background-color:$color-b;
                 color: $color-wl;
                 margin: 2em;
                width: 200px;
                padding: 10px;
                border-radius: 7px;
                      }
.seperator{
    width: 90%;
    height: 0.5px;
  background-color:$color-wl;    
  margin: 15px;
}

     
.footer-wrapper{
     display: flex;
     flex-wrap: wrap;
     .footer-wrapper-head{  
        
         h4{
           
        color:$color-wl;

         }
   
        }

     ul{
         list-style-type: none;
         li{
             a{
                 color:white;
                 text-decoration: none;
             }
         }
     }
}   
.footer_countries{
     width: 100%;
     display: flex;
     flex-direction:row;
     flex-wrap:wrap;
     .footer-c-head{
        width: 100%;
        h4{
            color:$color-wl;

        }
    }
     ul{
         list-style-type: none;
         li{
             a{
                 color:white;
                 text-decoration:none;
             }
         }
     } 
     @include lgscreen(){
        flex-direction: row;
   }

}  

.footer_bottom{
    width: 100%;
     a{
         display:inline-block;
        padding: 4px;
         color: white;
         height:auto;
         text-decoration: none;
    
     }
#f-social{
    float:right;  
    transform: rotate(0deg);
    @include lgscreen(){
        transform: rotate(90deg);
    
   }  
     }

}              
}