/* Add your css here */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Tahoma";
}

body {
  margin: 20px;
}

#nav_logo {
  width: 30px;
  height: 30px;
}

#nav-link {
  color: #000;
}

.h-container {
  padding-bottom: 40px;
  background: white;
  width: 100%;
  height: auto;
}

.h-conleft {
  float: left;
  top: 0px;
}

.h-conright {
  float: right;
  top: 0px;
}

.h-conright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.h-conright ul li {
  margin: 15px;
}

.h-conright ul li a {
  text-decoration: none;
  color: black;
}

@media (max-width: 752px) {
  .h-conright ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner {
  margin: 20px;
  margin-right: 5px;
}

#logo {
  width: 100px;
  height: 200px;
  right: 300px;
  position: relative;
  left: 580px;
}

@media (max-width: 752px) {
  #logo {
    width: 400px;
    height: 200px;
  }
}

section .btn_log1 {
  padding: 14px;
  position: relative;
  left: 63em;
  color: white;
}

section .btn_log2 {
  border: 2px solid white;
  padding: 14px;
  float: right;
  color: white;
}

section .search-box #search-rest {
  border: none;
  margin-bottom: 40px;
  position: relative;
  left: 450px;
  width: 40%;
  height: 50px;
  padding-left: 20px;
  border-radius: 5px;
}

section .search-box #search-btn {
  background-color: #c41f3b;
  width: 50%;
  height: 50px;
  border: 1px solid #c41f3b;
  -webkit-box-shadow: 0px,2px,black;
          box-shadow: 0px,2px,black;
  color: white;
  margin-right: 89px;
  border-radius: 5px;
  top: 20px;
  margin-top: 20px;
}

section .search-box #search-btn:hover {
  background-color: red;
}

section .search-box #nav_dropbr {
  background-color: white;
  width: 80%;
  height: 50px;
  margin-left: 40px;
  margin-top: 60px;
  border-radius: 5px;
  border: none;
}

section #search-text {
  text-align: center;
  color: white;
  font-size: 2em;
}

.widget {
  background-color: #dee3de;
  padding: 20px;
  width: 410px;
  height: 450px;
  margin-top: 30px;
  margin-right: 100px;
  float: right;
  font-size: 15px;
}

div .search-del {
  height: 60px;
  border-radius: 7px;
  position: relative;
  -webkit-box-shadow: 2px 2px 3px gray;
          box-shadow: 2px 2px 3px gray;
  margin-top: 10px;
}

div #btn_detect {
  position: relative;
  float: right;
  width: 60px;
  height: 60px;
  right: 65px;
  border: none;
  padding: 10px;
  top: 10px;
  border-radius: 7px;
  background-color: white;
}

.btn_green {
  background-color: green;
  padding: 10px;
  width: 370px;
  margin: 1em;
  color: white;
  text-align: center;
  border-radius: 8px;
}

.btn_green:hover {
  background-color: #06b30e;
}

.btn_detect {
  background-color: green;
  padding: 10px;
  padding-left: 4em;
  padding-right: 4em;
  margin: 1em;
  color: white;
  text-align: center;
  border-radius: 8px;
}

#ad-zomaland {
  float: left;
  width: 60%;
  height: 450px;
  margin-top: 60px;
  margin-right: 20px;
}

@media (max-width: 752px) {
  #ad-zomaland {
    display: none;
  }
}

div #ad_h {
  background-color: red;
}

div #ad_h h2 {
  color: pink;
}

.collections {
  grid-area: collection;
  display: block;
  overflow: hidden;
  height: auto;
}

.collections .collection-top {
  margin: 15px 0px;
}

.collections .collection-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  grid-area: collection;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
}

.collections .card {
  margin-right: 15px;
}

@media (max-width: 752px) {
  .collections .card {
    width: 48%;
    margin: 0 0 5px 5px;
    text-align: center;
  }
}

.collections .collection-footer {
  grid-area: collection;
  width: 98.5%;
  padding: 10px;
  height: auto;
  text-align: center;
  background-color: white;
  color: #ff3d3d;
}

.categories {
  width: 100%;
  background: #e1e1dd;
  margin: 15px;
}

.categories #cat-subtitle {
  color: gray;
}

.categories ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 25px;
}

.localities {
  padding: 20px;
}

.localities #loc-subtitle {
  color: grey;
  text-align: left;
}

.localities .locality-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e1e1dd;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.localities .locality-div .locality-list li {
  list-style: none;
  padding: 7px;
}

.localities .locality-div .locality-list li a {
  text-decoration: none;
  color: black;
}

.localities .locality-div .locality-list li #loc-span {
  color: gray;
}

footer {
  background-color: #323232;
  margin: 15px;
}

footer #logo_bottom {
  width: 100px;
  height: 200px;
  right: 300px;
  margin-left: 20px;
}

footer #footer_upsearch {
  float: right;
  background-color: black;
  color: #e1e1dd;
  margin: 2em;
  width: 200px;
  padding: 10px;
  border-radius: 7px;
}

footer .seperator {
  width: 90%;
  height: 0.5px;
  background-color: #e1e1dd;
  margin: 15px;
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-wrapper .footer-wrapper-head h4 {
  color: #e1e1dd;
}

footer .footer-wrapper ul {
  list-style-type: none;
}

footer .footer-wrapper ul li a {
  color: white;
  text-decoration: none;
}

footer .footer_countries {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer_countries .footer-c-head {
  width: 100%;
}

footer .footer_countries .footer-c-head h4 {
  color: #e1e1dd;
}

footer .footer_countries ul {
  list-style-type: none;
}

footer .footer_countries ul li a {
  color: white;
  text-decoration: none;
}

@media (max-width: 752px) {
  footer .footer_countries {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .footer_bottom {
  width: 100%;
}

footer .footer_bottom a {
  display: inline-block;
  padding: 4px;
  color: white;
  height: auto;
  text-decoration: none;
}

footer .footer_bottom #f-social {
  float: right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 752px) {
  footer .footer_bottom #f-social {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=main.css.map */